<!DOCTYPE html>
<html>
<head>
<title>HonorVet</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet", type="text/css" href="/css/view.css">
</head>
<body>
<header>
<a href="http://3.109.98.128/"><img src="/images/honorvet-logo.png"></a>
</header>
<section class="main_bx">
<img src="/images/check.png">
<h2>Success</h2>
<p>Email verified successfully.</p>
<a href="http://3.109.98.128/login">Click here to login</a>
</section>
</body>
</html>