<!DOCTYPE html>
html
head
    link(rel="stylesheet", type="text/css" href=`${baseUrl}/css/view.css`)
    title HonorVet
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet")
body
    header
        a(href=`${baseUrl}`) 
        img(src=`${s3Url}logo.png`)
    section(class="main_bx")
        img(src=`${s3Url}alert.png`)
        p Link has expired.